:root{
  /*color*/
  --blueCakeLight: #84c3d6;
  --blueCake: #748fc9;
  --redCake: #c97474;
  --roseCake: #c974b6;
  --greenCake: #65ac9c;
  --brownCake: #b2a18a;
  --brownCakeDark: #5c4141;
  --greyLigth: #f0f0f0;
  --greyDark: #333333;
  --black: #1b1b1b;
  --white: rgb(248, 248, 248);
  
  /*color Transparente*/
  --blueCakeLogoT: rgb(132, 195, 214,0.5);
  --brownCakeT: rgba(178, 161, 138, 0.9);
  --brownCakeDarkT: rgba(92, 66, 66, 0.9);
  
  /*font family*/
  --fontText : 'Baloo 2', cursive;
  --fontTitle : 'Lobster', cursive;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 1.8;
  background-color: var(--white);
  scroll-behavior: smooth;
}

.contenedor{
  margin: 0 auto;
  width: 90%;
  max-width: 120rem;
  padding: 2rem 0;
}

a, p, h1, h2, h3{
  font-family: var(--fontText);
  text-decoration: none;
  margin: 0;
}