.logo{
  text-decoration: none;
  user-select: none;
} 

.text-enlace{
  text-decoration: none;
  color: var(--brownCakeDark);
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 2rem 0.5rem 2rem;
  border-bottom: 1rem solid var(--brownCakeDark);
  transition: all 0.2s ease-in;
  user-select: none;
}

.text-enlace:hover{
  color: var(--blueCake);
  border-bottom: 1rem solid var(--blueCake);
}

.text-active{
  color: var(--blueCakeLight);
  border-bottom: 1rem solid var(--blueCakeLight);
}

.text-titulo{
  color: var(--brownCakeDark);
  font-family: var(--fontTitle);
  font-size: 4.5rem;
}

.boton_circular{
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  background-color: var(--brownCakeDark);
  border-radius: 50%;
  padding: 2rem;
  margin: 0 auto;
}

.na{
  animation: none !important;
}

.nav__boton{
    text-transform: uppercase;
    cursor: pointer;
}

.nav__boton--line{
    width: 3rem;
    height: .5rem;
    background-color: var(--white);
    margin-top: .5rem;
}

.nav__boton--line:first-child{  
    margin-top: .2rem;
    animation: botonNav__linea1R 1s both;
}
.nav__boton--line:nth-child(2){
    animation: botonNav__linea2R 1s both;
}
.nav__boton--line:nth-child(3){
    animation: botonNav__linea3R 1s both;
}  


.nav__boton--line:first-child.active{  
    animation: botonNav__linea1 1s both;
}
.nav__boton--line:nth-child(2).active{
    animation: botonNav__linea2 1s both;
}
.nav__boton--line:nth-child(3).active{
    animation: botonNav__linea3 1s both;
}  
@media (max-width: 576px) {
  .a{
     position: absolute !important;
     left: 0;
     width: 100%;
     height: 27rem;
     overflow: hidden;
     margin-top: 1.6rem;
     animation: desa 1.2s ease;
     -webkit-animation: desa 1.2s ease;
}
  .navbar{
    position: relative;
    background-color: var(--brownCakeDark);
    left: 0;
    top: -27rem;
    width: 100%;
    flex-direction: column;
    animation: NavActiveR 1s both;
    -webkit-animation: NavActiveR 1s both;
}
  .navbar.active{
    animation: NavActive 1s both;
    -webkit-animation: NavActive 1s both;
}
  .text-enlace{
    color: var(--white);
    width: 90%;
    text-align: center;
  }

  .text-active{
    background: var(--blueCakeLight);
    border-bottom: 1rem solid var(--blueCakeLight);

  }
  
}
@keyframes desa {
  0%, 99% {
    
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}  
    100% {
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
}
}


@keyframes NavActive {
  0% {
    top: -27rem;
    opacity: 1;
    }  
    100% {
      opacity: 1;
      top: 0;
    }
}

@keyframes NavActiveR {
  0% {
    top: 0;
    opacity: 1;
    }  
    100% {
    top: -27rem;
    opacity: 1;
    }
}


@keyframes botonNav__linea1 {
    0% {
        transform: rotate(0);
      }
      50% {
        transform: translateY(10px) rotate(0);
      }
    
      100% {
        transform: translateY(10px) rotate(45deg);
      }
}

@keyframes botonNav__linea1R {
    0% {
        transform: translateY(10px) rotate(45deg);
        
      }
      50% {
        transform: translateY(10px) rotate(0);
      }
    
      100% {
        transform: rotate(0);
      }
}

@keyframes botonNav__linea2 {
    0% {
        transform: scale(1);
      }
    
      100% {
        transform: scale(0);
      }
}
@keyframes botonNav__linea2R {
    0% {
        transform: scale(0);
      }
    
      100% {
        transform: scale(1);
      }
}

@keyframes botonNav__linea3 {
    0% {
        transform: rotate(0);
      }
      50% {
        transform:  translateY(-10px) rotate(0);
      }
    
      100% {
        transform: translateY(-10px) rotate(-45deg);
      }
}

@keyframes botonNav__linea3R {
    0% {
        transform: translateY(-10px) rotate(-45deg);
        
      }
      50% {
        transform:  translateY(-10px) rotate(0);
      }
    
      100% {
        transform: rotate(0);
      }
}